---
import ProjectCard from '../UI/ProjectCard.astro';

import { projects } from '@/assets/data/projects';
import type { Project } from '../../custom/types/Project'
const typedProjects = projects as Project[];
---

<div
    class='
        flex
        flex-col
        justify-center
        items-center 
        gap-8'
>
    {typedProjects.map((project) => (
        <ProjectCard project={project} />
    ))}
</div>