/* Tailwind v3 syntax for astro integration => gh-pages CSS handling */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* end Tailwind v3 syntax */

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../../public/fonts/jetbrains-mono-400..800.woff2') format('woff2');
  font-weight: 400 800;
  font-style: normal;
  font-display: swap;
}

@layer utilities {
  .synthesis-none {
    font-synthesis: none;
  }

  .rendering-legibility {
    text-rendering: optimizeLegibility;
  }
}