---
import Footer404 from '@/components/UI/Footer404.astro';
---

<!DOCTYPE html>
<html lang='fr-FR'>
    <head>
        <meta charset='UTF-8'>
        <meta 
        name='viewport' 
        content='width=device-width, initial-scale=1.0'
        >
        <title>Page non trouvée</title>
    </head>
    <body>
        <h1>404 – Page non trouvée</h1>
        <p>Excusez-nous, cette page n'existe pas.</p>
        <a href='/'>Retournez sur la page unique s'il vous plaît</a>
        <Footer404 />
    </body>
</html>