---
import { StrictMode } from 'react';

import '../styles/index.css';

import Home from '../pages/Home.astro';
import Layout from '../components/containers/Layout.astro';

---

<!DOCTYPE html>
<html 
  lang='fr-FR' 
  class='scroll-smooth'
>
  <head>
    <meta charset='UTF-8'>
    <link 
      rel='icon' 
      type='image/webp' 
      href={`${import.meta.env.BASE_URL}logos/logo_ico.webp`}
    >
    <style>
      :root {
        --font-jetbrains: url(
          '{Astro.resolve('/fonts/jetbrains-mono-400..800.woff2')}'
        );
      }
    </style>
    <meta 
      name='viewport' 
      content='width=device-width, initial-scale=1.0'
    >
    <title>Votre intégrateur web react en Île-de-France</title>
    <meta 
      name='description'  
      content="À votre écoute, réalisons votre site web. 
        Augmentons son référencement naturel SEO par le moteur de recherche Google.
        Améliorons l'accessibilité en respectant les lignes directrices WCAG.
        Intégrons votre contenu grâce au langages HTML, CSS, SCSS, JS, TS.
        Simplifions la maintenance en utilisant les dépendances / librairies / cadriciels:
        de test jest, vitest et playwright,
        de style tailwind,
        de composants react,
        d'état redux!"
    >
  </head>
  <body
    class='
      font-mono 
      min-w-xs
      min-h-screen 
      box-border 
      m-0 
      p-0 
      flex
      flex-row'>
    <div 
      id='root' 
      class='
        m-auto
        text-center
        leading-7.5
        font-normal
        text-gray-300
        bg-gray-800
        synthesis-none
        rendering-legibility
        antialiased
        '>
        <StrictMode>
          <Layout>
              <Home />
          </Layout>
        </StrictMode>
    </div>
  </body>
</html>