---
type Props = { summary: string };
const { summary } = Astro.props satisfies Props;
---

<details 
  class='
    group 
    w-full 
    rounded 
    shadow 
    overflow-hidden' 
> 
  <summary
    class='
      cursor-pointer 
      flex 
      justify-between 
      items-center 
      px-4 
      py-3 
      font-semibold 
      text-blue-500 
      hover:bg-gray-700 
      select-none 
      focus-visible:ring-4 
      focus-visible:ring-blue-300 
      focus-visible:ring-offset-2' 
  > 
    {summary} 
    <span 
      aria-hidden='true' 
      class='
          inline-block 
          transition-transform
          duration-300 
          ease-in-out 
          motion-reduce:transition-none 
          group-open:rotate-180'
    > 
      ▼ 
    </span>
  </summary>
  <div 
    class='
      px-4 
      py-3' 
  > 
    <slot />
  </div>
</details>