---
type Props = { class: string };
const { class: className = '' } = Astro.props satisfies Props;
---

<section
    class={`
        text-center 
        odd:bg-gray-950 
        even:bg-gray-800  
        pb-22 
        px-4 
        ${className}
        `}
>
    <slot />
</section>